 <div class="container">
          <h1>Book Information</h1>
          <div class="container3">

         
            <img src="{{data1.img}}" height="280px">
          <table class="data-table">
              <tr>
                  <th>Field</th>
                  <th>Value</th>
              </tr>
             
              <tr>
                  <td>InvoiceNo</td>
                  <td>{{data1.ISBN}}</td>
              </tr>
              <tr>
                  <td>Title</td>
                  <td>{{data1.title}}</td>
              </tr>
              <tr>
                  <td>author</td>
                  <td>{{data1.author}}</td>
              </tr>
              <tr>
                  <td>Inventory</td>
                  <td>{{data1.inventory}}</td>
              </tr>
              <tr>
                  <td>Category</td>
                  <td>{{data1.category}}</td>
              </tr>
             
              <!-- Add more rows for other data -->
          </table>
           </div>
      </div>